<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Edit Post</title>
</head>
<body>
  <h1>Edit Post</h1>

  <form action="/admin/edit/<%= post.id %>" method="POST">
    <div>
      <label>Title</label><br>
      <input type="text" name="title" value="<%= post.title %>">
    </div>

    <br>

    <div>
      <label>Summary</label><br>
      <input type="text" name="summary" value="<%= post.summary %>">
    </div>

    <br>

    <div>
      <label>Content</label><br>
      <textarea name="content"><%= post.content %></textarea>
    </div>

    <br>

    <button type="submit">Save Changes</button>
    <br><br>
  </form>
  <form action="/admin/delete/<%= post.id %>" method="POST">
  <button type="submit">Delete Post</button>
</form>
</body>
</html>